<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <script defer src="/your-path-to-fontawesome/js/v4-shims.js"></script>
    <!-- =============== CSS =============== -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <title>Our Plans</title>

    <!-- =============== FAVICON =============== -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/icons8-gym-ios-16-glyph-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/icons8-gym-ios-16-glyph-16.png"
    />
      <!--css file-->

      <link rel="stylesheet" href="/css/swiper/swiper-bundle.min.css" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/plans.css" />
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
      <nav class="nav container">
        <a href="#" class="nav__logo">Be<span id="bold">FIT</span></a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/components/home.html" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="/components/bmr.html" class="nav__link">BMR</a>
            </li>
            <li class="nav__item">
              <a href="/components/plans.html" class="nav__link active-link">Plans</a>
            </li>
            <li class="nav__item">
              <a href="/components/products.html" class="nav__link">Products</a>
            </li>
            <li class="nav__item">
              <a href="/components/team.html" class="nav__link">Our team</a>
            </li>

            <li class="nav__item">
              <a href="/index.html" class="nav__link"
                ><i class="fa fa-sign-out-alt" aria-hidden="true"></i
              ></a>
            </li>
            <i
              class="bx bx-toggle-left change-theme size"
              id="theme-button"
            ></i>
          </ul>
        </div>
        <!-- button toggle for smaller screens -->
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </nav>
    </header>

  <h1 style="margin-top: 10%; text-align: center;">Select Your Goal</h1>

 <!-- Main workouts here  -->
 <section id="workout-goals">

 <div class="slider-container swiper">
  <div class="slider-content">
    <div class="card-wrapper swiper-wrapper">
      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="https://image.slidesdocs.com/responsive-images/background/health-girl-training-exercise-fitness-lose-weight-yoga-powerpoint-background_634785c5ba__960_540.jpg" alt="" />
          </div>
        </div>
        <div class="card-content">
          <h2 class="name">Lose weight/fat</h2>
          <p class="description">
           Lose weight now for a better,healthier and more confident you
          </p>
          <button class="button">Read More</button>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="https://marathonhandbook.com/wp-content/uploads/How-To-Build-Muscle-Fast.jpg" alt="" />
          </div>
        </div>
        <div class="card-content">
          <h2 class="name">Gain weight/muscle</h2>
          <p class="description">
          Build muscle now and improve your fitness with our best training
          </p>
          <button class="button">Read More</button>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="https://t4.ftcdn.net/jpg/01/36/21/65/360_F_136216585_9Q7Z20LMcO5KFNADIFEmB4jXLleSfrye.jpg" alt="" />
          </div>
        </div>
        <div class="card-content">
          <h2 class="name">Aerobics</h2>
          <p class="description">
           Aerobics is a sport that helps you build endurance and strength.
          </p>
          <button class="button">Read More</button>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="https://www.sltrib.com/resizer/DBt_Dm410kJuG3LRrCTuuN32zXU=/arc-anglerfish-arc2-prod-sltrib/public/W2BRISRNCVFQTBLYPL3NR3XUMY.jpg" alt="" />
          </div>
        </div>
        <div class="card-content">
          <h2 class="name">Gymnastics</h2>
          <p class="description">
            Practice like you've never won. Perform like you've never lost.
      
          </p>
          <button class="button">Read More</button>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="https://hiddengym.net/wp-content/uploads/2019/12/powerlifting.jpg" alt="" />
          </div>
        </div>
        <div class="card-content">
          <h2 class="name">PowerLifting</h2>
          <p class="description">
            Strength doesn't come from what you can do. It comes from you
          </p>
          <button class="button">Read More</button>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="card-image">
            <img src="https://images.squarespace-cdn.com/content/v1/5c65dce492441bd5f7c7a1aa/91f23bc8-c34d-4a47-a4b7-33ae235c1714/LCCF+-+Homepage+-+2.jpg" alt="" />
          </div>
        </div>
        <div class="card-content">
          <h2 class="name">Cross-Fit</h2>
          <p class="description">
           High-intensity fitness program that combines elements of weightlifting
          </p>
          <button class="button">Read More</button>
        </div>
      </div>

  

  

    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
</div>
</section>

    <!--=============== FOOTER ===============-->
    <footer class="footer section" id="footer">
      <div class="footer__container container grid">
        <div class="footer__content">
          <h2 id="footer-motivation">The best way to be healthy</h2>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Services</h3>
          <ul class="footer__links">
            <li>
              <a href="" class="footer__link">Support </a>
            </li>
            <li><a href="#" class="footer__link">Donate </a></li>
            <li><a href="#" class="footer__link">Report a bug</a></li>
            <li><a href="#" class="footer__link">Terms of Service</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Company</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Blog</a></li>
            <li><a href="#" class="footer__link">Our mision</a></li>
            <li><a href="#" class="footer__link">Get in touch</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Community</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Support</a></li>
            <li>
              <a href="" class="footer__link">Questions</a>
            </li>
            <li><a href="#" class="footer__link">Usage help</a></li>
          </ul>
        </div>

        <div class="footer__social">
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-facebook-circle"></i
          ></a>
          <a href="" class="footer__social-link"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="" class="footer__social-link"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
        </div>
      </div>
     
      <p class="footer__copy">&#169 2023<br>All rights reserved</p>
    </footer>
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>
    <script src="/js/main.js"></script>
    <script src="/css/swiper/swiper-bundle.min.js"></script>

<script src="/js/app.js"></script>
  </body>
</html>
